$color-font-maintext: #000;
$color-font-headlines: #000;
$color-font-litetext: #333;

$color-border-1: #aaa;
$color-border-2: #bfbfbf;

$color-body-bg: #999;
$color-wrapper-bg: #eee;

$color-link: #000;
$color-link-hover: #333;
$color-link-active: #222;

$color-bg-dark-1: #333;
$color-bg-dark-2: #555;
$color-bg-bright-1: #fff;
$color-bg-bright-2: #dedede;
$color-bg-bright-3: #cdcdcd;


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-body-bg;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}





nav {
    text-align: center;
    padding: 10px;
    background-color: $color-bg-dark-2;

    a {
        color: white;
        text-decoration: none;
        transition: 200ms;
    
        &:hover {
            letter-spacing: .05em;
            font-weight: bold;
        }
    }
    
    ul {
        list-style-type: none;
        display: inline-flex;
        
        li {
            margin: 0 10px 0 10px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.wrapper{
    overflow: hidden;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1000px;
    background-color: $color-wrapper-bg;
    text-align: center;

    h2 {
        margin: 45px 20px 25px 20px;
        font-size: 1.25em;
        font-weight:bold;
        padding-bottom: 5px;
        border-bottom: 1px solid #999;
    }

}

.entry {
    overflow: hidden;   // nothing flows out of rounded corners
    margin: 40px 20px 25px 20px;
    // padding: 15px;
    background-color: white;
    border: 1px solid $color-border-1;
    border-radius: 8px;
    text-align: left;

    a, a:hover, a:active, a:visited {
        color: $color-link;
        text-decoration: none;
    }

    .info, .text {
        padding: .75em;
    }

    .info {
        margin-bottom: 5px;
        background-color: $color-bg-bright-2;
        border-bottom: 1px solid $color-border-1;
    }

}

.pages {

    margin: 15px;
    list-style-type: none;
    display: inline-flex;
    border: 1px solid $color-border-1;
    overflow: hidden;
    border-radius: 10px;
    background-color: $color-bg-bright-1;

    a, a:hover, a:visited, a:active {
        color: $color-font-litetext;
        text-decoration: none;
    }

    .current{
        background-color: #666;
        color: white;

        a, a:hover, a:visited, a:active {
            color: white;
        }
    }

    li {
        align-items: center;
        border-right: 1px solid $color-border-1;
        padding: 5px 15px 5px 15px;

        &li:last-child {
            border-right: none;
        }
    }

    
}



.pubform {
    background-color: $color-bg-bright-1;
    border: 2px solid #dddddd;
    margin: 20px;
    margin-top:40px;
    padding: 15px;

    .hidden {
        display: none;
    }

    .form-group {
        margin: 10px 0 10px 0;
        text-align: center;
        
        

        label {
            text-align: left;
            display:inline-block;
            width: 60%;
            min-width: 300px;
            margin-left: -15px;
        }
    
        input, textarea {
            width: 60%;
            min-width: 300px;
            margin: 5px auto 9px auto;
            border: 1px solid $color-border-2;
            border-radius: 3px;
            padding: 8px;
        }
    
        input[type=submit], input[type=reset] {
            width: 28%;
            min-width: 30px;
            margin: 0 10px 0 10px;
        }
    
    }
    
    h3 {
        font-size: 1.15em;
        font-weight:bold;
        margin-bottom: 25px;
        padding-bottom: 5px;
        border-bottom: 1px solid #999;
    }
    
}

.header {
    height: 200px;
    background-color: $color-bg-dark-1;
}


