* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
}

nav {
  text-align: center;
  padding: 10px;
  background-color: #555;
}
nav a {
  color: white;
  text-decoration: none;
  transition: 200ms;
}
nav a:hover {
  letter-spacing: .05em;
  font-weight: bold;
}
nav ul {
  list-style-type: none;
  display: inline-flex;
}
nav ul li {
  margin: 0 10px 0 10px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li:last-child {
  margin-right: 0;
}

.wrapper {
  overflow: hidden;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1000px;
  background-color: #eee;
  text-align: center;
}
.wrapper h2 {
  margin: 45px 20px 25px 20px;
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
}

.entry {
  overflow: hidden;
  margin: 40px 20px 25px 20px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 8px;
  text-align: left;
}
.entry a, .entry a:hover, .entry a:active, .entry a:visited {
  color: #000;
  text-decoration: none;
}
.entry .info, .entry .text {
  padding: .75em;
}
.entry .info {
  margin-bottom: 5px;
  background-color: #dedede;
  border-bottom: 1px solid #aaa;
}

.pages {
  margin: 15px;
  list-style-type: none;
  display: inline-flex;
  border: 1px solid #aaa;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}
.pages a, .pages a:hover, .pages a:visited, .pages a:active {
  color: #333;
  text-decoration: none;
}
.pages .current {
  background-color: #666;
  color: white;
}
.pages .current a, .pages .current a:hover, .pages .current a:visited, .pages .current a:active {
  color: white;
}
.pages li {
  align-items: center;
  border-right: 1px solid #aaa;
  padding: 5px 15px 5px 15px;
}
.pages lili:last-child {
  border-right: none;
}

.pubform {
  background-color: #fff;
  border: 2px solid #dddddd;
  margin: 20px;
  margin-top: 40px;
  padding: 15px;
}
.pubform .hidden {
  display: none;
}
.pubform .form-group {
  margin: 10px 0 10px 0;
  text-align: center;
}
.pubform .form-group label {
  text-align: left;
  display: inline-block;
  width: 60%;
  min-width: 300px;
  margin-left: -15px;
}
.pubform .form-group input, .pubform .form-group textarea {
  width: 60%;
  min-width: 300px;
  margin: 5px auto 9px auto;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 8px;
}
.pubform .form-group input[type=submit], .pubform .form-group input[type=reset] {
  width: 28%;
  min-width: 30px;
  margin: 0 10px 0 10px;
}
.pubform h3 {
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
}

.header {
  height: 200px;
  background-color: #333;
}

/*# sourceMappingURL=main.css.map */
